<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für die <httpRuntime>-Kennung festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
      <compilation debug="false" targetFramework="4.8" />
      <pages controlRenderingCompatibilityVersion="4.0" />
	  <customErrors>
		  <error statusCode="404" redirect="index.asp" />  
	  </customErrors>
  </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/index.asp" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>